In [1]:
# loand Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import sys
import os
from windrose import WindroseAxes

# for a folder that contain scripts for modularity 
sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('../src'))

from data_loader import get_file_path, get_cleaned_data, CSVData

In [4]:
sierraleone_path = get_file_path("sierraleone")
sierraleone_data = CSVData(sierraleone_path).load_data()

In [5]:
sierraleone_data.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [9]:
# Copying the dataset
df2 = sierraleone_data.copy()

In [10]:
# Missing values for each column
missing_values = df2.isna().sum()
missing_values

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [11]:
# Summary statistics for all numeric columns
summary_stats = df2.describe()
summary_stats

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,201.957515,116.376337,113.720571,206.643095,198.114691,26.319394,79.448857,1.146113,1.691606,0.363823,133.044668,7.172220,999.876469,0.000967,0.004806,32.504263,32.593091,NaN
std,298.495150,218.652659,158.946032,300.896893,288.889073,4.398605,20.520775,1.239248,1.617053,0.295000,114.284792,7.535093,2.104419,0.031074,0.047556,12.434899,12.009161,NaN
min,-19.500000,-7.800000,-17.900000,0.000000,0.000000,12.300000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,993.000000,0.000000,0.000000,10.700000,11.100000,NaN
25%,-2.800000,-0.300000,-3.800000,0.000000,0.000000,23.100000,68.700000,0.000000,0.000000,0.000000,0.000000,0.000000,999.000000,0.000000,0.000000,23.500000,23.800000,NaN
50%,0.300000,-0.100000,-0.100000,3.600000,3.400000,25.300000,85.400000,0.800000,1.600000,0.400000,161.500000,6.200000,1000.000000,0.000000,0.000000,26.600000,26.900000,NaN
75%,362.400000,107.000000,224.700000,359.500000,345.400000,29.400000,96.700000,2.000000,2.600000,0.600000,234.100000,12.000000,1001.000000,0.000000,0.000000,40.900000,41.300000,NaN
max,1499.000000,946.000000,892.000000,1507.000000,1473.000000,39.900000,100.000000,19.200000,23.900000,4.100000,360.000000,98.400000,1006.000000,1.000000,2.400000,72.800000,70.400000,NaN

In [12]:
# Percentage of missing values per column
missing_percentage = (missing_values / len(df2)) * 100

In [13]:
# Columns with more than 5% missing values
columns_above_5pt_missing = missing_percentage[missing_percentage > 5].index.tolist()

In [14]:
print("\nðŸš¨ Columns with >5% Missing Values:")
for col in columns_above_5pt_missing:
    print(f"{col}: {missing_percentage[col]:.2f}% missing")

ðŸš¨ Columns with >5% Missing Values:
Comments: 100.00% missing

In [20]:
df2 = df2.drop(columns=['Comments'], axis=1)

In [21]:
# Identify target columns
target_cols = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']

# Check for missing 
missing_in_terget = df2[target_cols].isna().sum()
missing_in_terget

GHI       0
DNI       0
DHI       0
ModA      0
ModB      0
WS        0
WSgust    0
dtype: int64

In [22]:
# 2. Compute Z-scores and flag outliers (|Z| > 3)
z_scores = df2[target_cols].apply(lambda x: zscore(x, nan_policy='omit'))

# Create a boolean mask for rows where any column has |Z| > 3
outlier_mask = (z_scores.abs() > 3)

In [23]:
# Count of outliers per column
outliers = outlier_mask.sum()
outliers

GHI       2477
DNI       7586
DHI       2986
ModA      1604
ModB      2041
WS        3967
WSgust    3665
dtype: int64

In [24]:
# Flag rows with any outliers
df2['has_outlier'] = outlier_mask.any(axis=1)

# Impute missing values in target columns with the median
df2[target_cols] = df2[target_cols].apply(lambda col: col.fillna(col.median()))

# Drop rows that still have missing values (if any)
df_cleaned = df2.dropna(subset=target_cols)

In [25]:
# Export cleaned data
country = "seirraleone"  
output_path = f"data/{country}_clean.csv"
os.makedirs("data", exist_ok=True)
df_cleaned.to_csv(output_path, index=False)

print(f"âœ… Cleaned data saved to: {output_path}")

âœ… Cleaned data saved to: data/seirraleone_clean.csv